<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lzz.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".LApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AddProductActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddBuyerActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BuyersListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="客户列表"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CarActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="购物车"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectBuyerActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="选择客户"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderListActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="历史订单"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderDetailsActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="订单详情"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>